SOABPEL_Base64EncoderDecoder/SOA/Schemas/BPEL_EncoderDecoder.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOASampleAppln/SOABPEL_Base64EncoderDecoder/BPEL_EncoderDecoder"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="action" type="string"/>
    <element name="input" type="string"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>