SOABPEL_ExposeREST/SOA/Schemas/EmployeesFault.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:encoding="US-ASCII">
   <xsd:element name="exception">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="errorCode"/>
            <xsd:element name="errorMessage"/>
            <xsd:element name="reason"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>