SOABPEL_CallRESTWithBasicAuth/SOA/WSDLs/CallCustomerREST.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="CallCustomerREST"
     targetNamespace="http://xmlns.oracle.com/SOASampleAppln/SOABPEL_CallRESTWithBasicAuth/CallCustomerREST"
     xmlns:tns="http://xmlns.oracle.com/SOASampleAppln/SOABPEL_CallRESTWithBasicAuth/CallCustomerREST"
     xmlns:inp1="http://xmlns.oracle.com/SOASampleAppln/SOABPEL_CallRESTWithBasicAuth/CallCustomerREST"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="CallCustomerREST">
        <plnk:role name="CallCustomerRESTProvider" portType="tns:CallCustomerREST_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/SOASampleAppln/SOABPEL_CallRESTWithBasicAuth/CallCustomerREST"
             elementFormDefault="qualified">
            <element name="empty">
                <complexType/>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="../Schemas/customer_json.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="../Schemas/customer_fault_response.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="getCustomer_outputMessage">
        <wsdl:part name="reply" element="customer"/>
    </wsdl:message>
    <wsdl:message name="getCustomer_customer_fault_responseMessage">
        <wsdl:part name="fault_customer_fault_response" element="customer_fault"/>
    </wsdl:message>
    <wsdl:portType name="CallCustomerREST_ptt">
        <wsdl:operation name="getCustomer">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:getCustomer_outputMessage"/>
            <wsdl:fault name="customer_fault_response" message="tns:getCustomer_customer_fault_responseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
